/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

[data-elm-hot="true"] {
  height: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	@apply h-full w-full bg-nord0 text-nord10;
	font-family: 'Lato', Helvetica, sans-serif;
}

body {
	overscroll-behavior: contain;
}

main {
	@apply flex flex-col h-full w-full p-4
}

#menu {
	@apply flex justify-between gap-3;
}

.menu-buttons {
	@apply flex gap-3;
}

.content {
	@apply h-full w-full grid items-center justify-center;
}

.progress-circle {
	@apply relative grid h-64 w-64 bg-nord10 rounded-full;
	place-items: center;
	/* filter: drop-shadow(0.5em 0.5em 1em #060E1E) drop-shadow(-0.5em -0.5em 1em #2F3541); */
}

.progress-circle:before {
	@apply absolute bg-nord0 rounded-full;
	content: "";
	height: 88%;
	width: 88%;
	box-shadow: inset -3px -3px 20px #2F3541, inset 3px 3px 20px #060E1E;
}

.progress {
	@apply relative flex flex-col items-center cursor-pointer pointer-events-none;
}

.relative-progress {
	@apply select-none;
}

.relative-progress-value {
	@apply text-6xl;
	color: #FBE1FD;
}

.relative-progress-percent-sign {
	@apply absolute text-lg;
}

.absolute-progress {
	@apply font-normal select-none;
}

.push-to-start {
	@apply relative flex flex-col items-center cursor-pointer pointer-events-none;
	transform: translate(0, 10%);
}

.push {
	@apply font-black uppercase select-none;
	font-size: 4.15rem;
	color: transparent;
	text-shadow: 1px 1px 3.5px #343a48, 0 0 #060e1e;
}

